body {
    font-family: Helvetica;
    background-color: #f5f3f3;
}

/* #alwaysOnMenu{
    transition: .2s;
} */

#bar{
    background-color: #e0dfdf !important;
}

.jumbotron{
    background-color: #e0dfdf !important;
}

.form-control {
    text-align: center;
    margin: auto;
}

#red{
    background-color: #ee5858
}

#gif{
    width: 850px;
    height: auto;  
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

.w3-container-user{
    border-style: solid
}

@media (max-width: 768px) {
    #bar a{
        font-size:14px;     
        height: 24px;
    }
    #bar img{    
        height: 20px;
        width: 20px;
    }
    #gif{
        width: 300px;
        height: auto;  
    }
    .btn{
        font-size:14px;
        padding:2px 4px;  
        margin: 0px;
        height: auto;
    }
    .form-control{
        font-size:10px;
        padding:2px 4px;  
        width: 150px;
        margin: auto;
        text-align: center;
    }
    #alwaysOnMenu h3{
        font-size:12px;
        padding:3px 5px;    
    }
    #userForm h3{
        font-size:12px;
        padding:2px 4px;    
    }
    #userForm label{
        font-size:12px;
        padding:3px 5px; 
        margin: 0px;  
    }
    .jumbotron h3{
        font-size:12px;
        padding:3px 5px; 
    }
    .jumbotron h6{
        font-size:12px;
        padding:3px 5px; 
    }
    .jumbotron tbody{
        font-size:12px;
        padding:3px 5px; 
    }
    .w3-container{
        font-size:12px;
        padding:3px 5px; 
    }
    .table{
        font-size:10px;
        padding:1px 3px;  
        margin: 0px;
        border: 0px;
    }
    h5{
        font-size:14px;
    }
    h6{
        font-size:16px;
        padding:1px 3px !important; 
        margin: 1px !important;
        border: 1px !important;
    }
    .table th{
        font-size:12;
        padding:2px 4px !important; 
        margin: 2px !important;
        border: 2px !important;
    }
    .table td{
        padding:2px 4px; 
        margin: 2px !important;
        border: 2px !important;
    }
    .table tbody{
        padding:2px 4px; 
        margin: 2px !important;
        border: 2px !important;
    }
    span{
        font-size: 10px;
    }
}

@media (max-width: 479px) {
    .btn{
        font-size:12px;
        padding:1px 3px;  
        height: auto;
        text-align: center;
        margin: auto;
    }
    .form-control{
        font-size:8px;
        padding:1px 3px;  
        width: 80px;
        text-align: center;
        margin: auto;
    }
    #alwaysOnMenu h3{
        font-size:10px;
        padding:2px 4px;    
    }
    /* #userForm{
        padding: 2px 2px;
    }
    #alwaysOnMenu{
        padding: 2px 2px;
    }
    .col-8{
        padding: 2px 2px !important;
        margin: 0px !important;
        border: 1px !important;
    } */
    #userForm h3{
        font-size:10px;
        padding:2px 4px;    
    }
    #userForm label{
        font-size:10px;
        padding:2px 4px; 
        margin: 0px;  
    }
    .jumbotron h3{
        font-size:10px;
        padding:2px 4px; 
    }
    .jumbotron h6{
        font-size:10px;
        padding:2px 4px; 
    }
    .jumbotron tbody{
        font-size:10px;
        padding:2px 4px; 
    }
    .w3-container{
        font-size:10px;
        padding:2px 4px; 
    }
    .table{
        font-size:10px;
        padding:1px 3px;  
        margin: 0px;
        border: 0px;
    }
    h5{
        font-size:10px;
    }
    h6{
        font-size:12px;
        padding:0px 1px !important; 
        margin: 0px !important;
        border: 0px !important;
    }
    .table th{
        font-size:10;
        padding:1px 3px !important; 
        margin: 1px !important;
        border: 1px !important;
    }
    .table td{
        padding:1px 3px; 
        margin: 1px !important;
        border: 1px !important;
    }
    .table tbody{
        padding:1px 3px; 
        margin: 1px !important;
        border: 1px !important;
    }
    td .btn{
        font-size:6px;
        padding:0px 2px;  
        margin: 0px;
    }
    .btn h6{
        font-size:8px;
        padding:0px 1px !important; 
        margin: 0px !important;
        border: 0px !important;
    }
}
