{% extends "base.html" %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}

<main role="main">
    <div class="jumbotron text-center mx-2 mb-5" style="background-color:#e3e3e3">
        <div class="col-sm-8 mx-auto">
            <h1>How did I come into existance?</h1>
            <hr class="my-4 pb-2">
                <p>Once the Covid-19 lockdown around the world eases (hopefully sooner than later), some of you will be in charge of gradually bringing the staff back into the office. But how do you keep track of everyone coming to work and if the maximum number of colleagues in the office for a given day has been reached?</p>
                
                <p>You could ask your colleagues to send an email with the days when they will be present in the office, or you could delegate this activity to each team's manager. Regardless, someone has to do the counting, and the bigger the organization, the harder it gets to keep track of everyone, and it's only Monday. You could try to use shared Excel workbooks saved on shared drives, OneDrive, SharePoint or even use Excel Online as an alternative, but only the ones who've used these solutions know what hassle it is to have a large number of users using the same file at the same time. From users editing the same cell, locked out users while the file is in use, corrupted or missing data, to users hiding or moving columns, formulas, there are a lot of things that can go wrong.</p>
                
                <p>As a personal programming project, I've built this website using Flask that can be used to keep track of staff returning to the office. The employees add the presence days in the online form, and the employee count for each day is visible immediately for everyone. You no longer have to keep track of each staff member coming into the office, and the days where the threshold of employees has been reached are being highlighted. As an admin, on top of what a regular user can do, you can change the maximum number of employees in the office (maybe you can have 100 employees in the office at any point instead of 20) and you can even delete the entries if you no longer need them. </p>
                    
                <p>Because I believe that this idea can be useful and I'm sure that improvements and other functionalities can be added to it, I've uploaded the complete code to a public GitHub repository. If you're interested, feel free to fork the project, play with it, break it, add your own personal touch to it, and maybe implement this idea - or a similar one - in your organisation. </p>
                <br>
            
        </div>
    </div>
</main>

{% endblock %}