{% extends "base.html" %}

{% block head %}
<title>Employee List - Remove</title>
{% endblock %}

{% block body %}

{% if emp_count > 0 %}
<hr>
  <div class="w3-container-user">
    <h5 style="text-align:center;"><b>Employees in the office on this date:</b></h5>
    <ul class="w3-ul">
      {% for key, value in dict.items() %}
        {% if value | int >= maxEmpCount %}
          <li id="red">
            <div style="text-align:right;">
              <span><h6> {{ value }} Employees </h6></span> 
            </div>
            <div style="text-align:left;"><h6> {{ key }} </h6></div>
            <div style="text-align:center;">
              <span><h6> The maximum number of employees in the office has been reached. </h6></span>
            </div> 
          </li>
        {% else %}
        <li>
          <div style="text-align:right;">
            <span><h6> {{ value }} Employees </h6></span>  
          </div>
          <div style="text-align:left;"><h6> {{ key }} </h6></div> 
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

<div class="container">
    <main role="main">
        <div class="jumbotron text-center mx-2 mb-3" style="background-color:#e3e3e3">
            <div class="col-sm-8 mx-auto">
                <h3>Employee List</h3>               
                <h6>{{ emp_count }} submitted employee requests</h6>
                <hr class="my-4 pb-2">

                <table class="table table-striped mx-auto">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"><h6>Name</h6></th>
                        <th scope="col"><h6>Departament</h6></th>
                        <th scope="col"><h6>Date</h6></th>
                        <th scope="col"><h6>Option</h6></th>
                    </tr>
                    </thead>
                    <tbody>
                      {% block delete %}
                        {% for emp in employees %}
                            <tr>
                                <td><h6>{{ emp.name }}</h6></td>
                                <td><h6>{{ emp.dept }}</h6></td>
                                <td><h6>{{ emp.date }}</h6></td>
                                <td>
                                    <a class="btn btn-outline-secondary btn-sm" href="/employeeListRemove/delete/{{emp.id}}/{{emp.name}}"><h6>Delete entry</h6></a>
                                  
                                </td>
                            </tr>
                          {% endfor %}
                        {% endblock %}
                    </tbody>
                </table>

                {% block button %}
                {% if emp_count > 0 %}
                    <a class="btn btn-outline-secondary btn-m mb-1" href="/employeeListRemove/delete/all">Delete all employees records</a>
                {% endif %}
                <hr class="my-4 pb-2">
                <form action="/adminManagement">
                  <div class="mx-2 col-1">
                      <input class="btn btn-outline-secondary btn-sm" type="submit" value="Go back to Admin Management">
                  </div>
                </form>
                {% endblock %}
            </div>
        </div>
    </main>
</div>

{% endblock %}
