{% extends "base.html" %}

{% block head %}
<title>Employee List</title>
{% endblock %}

{% block body %}

<!-- depending on the employee counter limit, generate a red highlighted row or a regular one -->
{% if emp_count > 0 %}
<hr>
  <div class="w3-container-user">
    <h5 style="text-align:center;"><b>Employees in the office on this date:</b></h5>
    <ul class="w3-ul">
      {% for key, value in dict.items() %}
        {% if value | int >= maxEmpCount %}
          <li id="red">
            <div style="text-align:right;">
              <span><h6> {{ value }} Employees </h6></span> 
            </div>
            <div style="text-align:left;"><h6> {{ key }} </h6></div>
            <div style="text-align:center;">
              <span><h6> The maximum number of employees in the office has been reached. </h6></span>
            </div> 
          </li>
        {% else %}
        <li>
          <div style="text-align:right;">
            <span><h6> {{ value }} Employees </h6></span>  
          </div>
          <div style="text-align:left;"><h6> {{ key }} </h6></div> 
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

<main role="main">
    <div class="jumbotron text-center mx-2 mb-3" style="background-color:#e3e3e3">
        <div class="col-sm-8 mx-auto">
            <h3>Employee List</h3>
            <h6>{{ emp_count }} submitted employee requests</h6>
            <hr class="my-4 pb-2">

            <table class="table table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"><h6>Name</h6></th>
                    <th scope="col"><h6>Departament</h6></th>
                    <th scope="col"><h6>Date</h6></th>
                  </tr>
                </thead>
                <tbody>
                    {% for emp in employees %}
                  <tr>
                    <td>{{ emp.name }}</td>
                    <td>{{ emp.dept }}</td>
                    <td>{{ emp.date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            <hr class="my-4 pb-2">

            {% block button %} 
              <form action="/adminManagement">
                <div class="mx-2 col-1">
                    <input class="btn btn-outline-secondary btn-sm" type="submit" value="Go back to Admin Management">
                </div>
              </form>
            {% endblock %}

        </div>
    </div>
</main>

{% endblock %}
